#-[ PROJECT NAME
name: "komodo"

#-[ SERVICES
services:
   # Postgres - SQL Database
  postgres:
    image: ghcr.io/ferretdb/postgres-documentdb:${POSTGRES_IMAGE_TAG}
    container_name: "postgres"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    networks:
      - "private"
    restart: "unless-stopped"
    volumes:
      - "postgres-data:/var/lib/postgresql/data"

  # FerretDB - MongoDB Adapter for Postgres
  ferretdb:
    image: ghcr.io/ferretdb/ferretdb:${FERRETDB_IMAGE_TAG}
    container_name: "ferretdb"
    depends_on:
      - "postgres"
    environment:
      - FERRETDB_POSTGRESQL_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    networks:
      - "private"
    restart: "unless-stopped"
    volumes:
      - "ferretdb-state:/state"

  # Komodo - Docker Application Stack Build and Deploy Utility
  komodo-core:
    image: ghcr.io/moghtech/komodo-core:${KOMODO_IMAGE_TAG}
    container_name: "komodo-core"
    depends_on:
      - "ferretdb"
    env_file: "./.env"
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    networks:
      - "cloudflare"
      - "private"
    restart: "unless-stopped"
    volumes:
      - "./data/komodo/backups:/backups"

#-[ NETWORKS
networks:
  # Public / External Network (Cloudflare Tunnel)
  cloudflare:
    external: true
  # Storage / Backend Network (Not Accessible Externally)
  private:
    driver: "bridge"

#-[ VOLUMES
volumes:
  postgres-data:
  ferretdb-state:
