{
  "databases": [
    {
      "name": "outline-postgres",
      "database": "outline",
      "type": "postgresql",
      "host": "outline-postgres",
      "port": 5432,
      "username": "{{.OUTLINE_POSTGRES_USER}}",
      "password": "{{.OUTLINE_POSTGRES_PASSWORD}}",
      "generated_id": "01a00ad5-cf4f-7dca-b96f-6e90444f3813"
    }
  ]
}