#-[ PROJECT NAME
name: "obsidian-sync"

#-[ SERVICES
services:
  # CouchDB - See https://github.com/vrtmrz/obsidian-livesync/blob/main/docs/setup_own_server.md
  couchdb:
    image: couchdb:${COUCHDB_IMAGE_TAG}
    container_name: "obsidian-sync"
    env_file: "./.env"
    networks:
      - "cloudflare"
    user: "5984:5984"
    restart: "unless-stopped"
    volumes:
      - "obsidian-sync-data:/opt/couchdb/data"
      - "obsidian-sync-etc:/opt/couchdb/etc/local.d"

#-[ NETWORKS
networks:
  # Public / External Network (Cloudflare Tunnel)
  cloudflare:
    external: true

#-[ VOLUMES
volumes:
  obsidian-sync-data:
  obsidian-sync-etc:
