### NETWORKS
networks:
  # Public / External Network (Cloudflare Tunnel)
  cloudflare:
    external: true
  # Storage / Backend Network (Not Accessible Externally)
  private:
    driver: bridge

### SERVICES
services:
  # Infisical - Secrets Manager and KMS
  infisical:
    image: infisical/infisical:${INFISICAL_IMAGE_TAG}
    container_name: infisical
    restart: unless-stopped
    env_file: ./.env
    networks:
      - cloudflare
      - private
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  # Redis - Key Value Store
  redis:
    image: redis:${REDIS_IMAGE_TAG}
    container_name: redis
    restart: unless-stopped
    networks:
      - private
    volumes:
      - redis-data:/data

  # Postgres - SQL Database
  postgres:
    image: postgres:${POSTGRES_IMAGE_TAG}
    container_name: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - private
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: "pg_isready --username=${POSTGRES_USER} && psql --username=${POSTGRES_USER} --list"
      interval: 5s
      timeout: 10s
      retries: 10

volumes:
  postgres-data:
  redis-data:
