{
  "databases": [
    {
      "name": "komodo-postgres",
      "database": "komodo",
      "type": "postgresql",
      "host": "komodo-postgres",
      "port": 5432,
      "username": "{{.KOMODO_POSTGRES_USER}}",
      "password": "{{.KOMODO_POSTGRES_PASSWORD}}",
      "generated_id": "01a00adf-61cd-7234-b658-822ae5972452"
    }
  ]
}