### NETWORKS
networks:
  cloudflare:
    name: cloudflare
    driver: bridge

### SERVICES
services:
  # Cloudflare Tunnel
  cloudflared:
    image: cloudflare/cloudflared:${CLOUDFLARE_IMAGE_TAG}
    container_name: cloudflare-tunnel
    restart: unless-stopped
    environment:
      - TUNNEL_TOKEN=${S_CLOUDFLARE_TUNNEL_TOKEN}
    networks:
      - cloudflare
    command: tunnel run
    healthcheck:
      test: ["CMD", "cloudflared", "--version"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"   
